<section class="product-list">
  <div
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxFlex="50"
    fxFlex.xs="100"
    fxFlex.sm="100"
    fxFlex.md="50"
  >
    <mat-form-field appearance="outline" class="product-list__items">
      <mat-label>Select or add new product</mat-label>
      <mat-select
        [(ngModel)]="productId"
        name="product"
        (selectionChange)="onProductListChange($event)"
      >
        <mat-form-field class="search">
          <mat-label>Search...</mat-label>
          <input matInput />
        </mat-form-field>

        <button
          class="w-100 text-left"
          type="button"
          (click)="addNewProduct()"
          mat-button
        >
          + Add new product
        </button>

        <mat-option *ngFor="let product of productList" [value]="product.id">
          {{ product.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="product-list__form" *ngIf="showForm">
      <app-product-form
        (addedProduct)="onAddedProduct($event)"
        (deletedProduct)="onDeletedProduct($event)"
        (cancelForm)="onCancelForm()"
        [product]="product"
      ></app-product-form>
    </div>
  </div>
</section>
