@mixin model_confirm($theme) {
  app-confirm-modal {
    h1 {
      margin: 0 !important;
      padding: 0 !important;
      color: $font-dark-color;
      font-size: 20px;
      margin-bottom: 10px;
    }

    div {
      color: $font-color;
    }
  }
}
