<h1 mat-dialog-title>{{ data?.title }}</h1>
<div mat-dialog-content>
  {{ data?.subTitle }}
</div>
<div
  fxLayout="row"
  fxLayoutAlign="end end"
  mat-dialog-actions
  *ngIf="data?.type === modelConfirmEnum.save"
>
  <button mat-button type="button" mat-dialog-close>Discard</button>
  <button
    mat-raised-button
    type="button"
    [mat-dialog-close]="true"
    cdkFocusInitial
    color="accent"
  >
    Save
  </button>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="end end"
  mat-dialog-actions
  *ngIf="data?.type === modelConfirmEnum.delete"
>
  <button mat-button type="button" mat-dialog-close>Discard</button>
  <button
    mat-raised-button
    type="button"
    color="warn"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Delete
  </button>
</div>
