<form
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="10px"
  (submit)="onSubmitForm()"
  [formGroup]="form"
>
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="name" name="name" formControlName="name" />
    <mat-error *ngIf="isValid('name', 'required')">name is required</mat-error>
  </mat-form-field>

  <div>
    <label class="d-block">Product type: </label>
    <mat-radio-group
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="50px"
      name="type"
      formControlName="type"
    >
      <mat-radio-button [value]="1">Type 1</mat-radio-button>
      <mat-radio-button [value]="2">Type 2</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Product Category</mat-label>
    <input
      matInput
      placeholder="category"
      formControlName="category"
      name="category"
    />
    <mat-error *ngIf="isValid('category', 'required')"
      >category is required</mat-error
    >
  </mat-form-field>
  <mat-checkbox formControlName="isSubCategory" name="isSubCategory"
    >Hide required marker</mat-checkbox
  >

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <mat-form-field
      appearance="outline"
      fxFlex="48"
      fxFlex.xs="100"
      fxFlex.sm="100"
      fxFlex.md="48"
    >
      <mat-label>Reference ID</mat-label>
      <input
        matInput
        placeholder="reference id"
        formControlName="referenceId"
        name="referenceId"
      />
      <mat-error *ngIf="isValid('referenceId', 'required')"
        >reference id is required</mat-error
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      fxFlex="48"
      fxFlex.xs="100"
      fxFlex.sm="100"
      fxFlex.md="48"
    >
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        name="password"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="isValid('password', 'required')"
        >password is required</mat-error
      >
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <mat-form-field
      appearance="outline"
      fxFlex="48"
      fxFlex.xs="100"
      fxFlex.sm="100"
      fxFlex.md="48"
    >
      <mat-label>Delivery fees</mat-label>
      <span matPrefix>EGP &nbsp;</span>

      <input
        matInput
        placeholder="delivery fees"
        formControlName="fees"
        name="fees"
        type="number"
      />
      <mat-error *ngIf="isValid('fees', 'required')"
        >delivery fees is required</mat-error
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      fxFlex="48"
      fxFlex.xs="100"
      fxFlex.sm="100"
      fxFlex.md="48"
    >
      <mat-label>Delivery fees</mat-label>
      <span matPrefix>% &nbsp;</span>
      <input
        matInput
        placeholder="delivery fees"
        formControlName="discound"
        name="discound"
        type="number"
      />
      <mat-error *ngIf="isValid('discound', 'required')"
        >delivery fees is required</mat-error
      >
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button
      mat-button
      type="button"
      color="warn"
      *ngIf="product"
      (click)="onDeleteProduct()"
    >
      Delete
    </button>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
      <button mat-button type="button" (click)="onCancelForm()">Cancel</button>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </div>
  </div>
</form>
